<div class="hero-unit">
	<h1>欢迎来到 Microblog</h1>
	<p>Microblog 是一个基于 Node.js 的微博系统。</p>
	<p>
		<a class="btn btn-primary btn-large" href="/login">登陆</a>
		<a class="btn btn-large" href="/reg">立即注册</a>
	</p>
</div>

<div class="row">
	<div class="span4">
		<h2>Carbo said</h2>
		<p>```````````````</p>
	</div>

	<div class="span4">
		<h2>Someone said</h2>
		<p>!!!!!!!!!!!!!!!!</p>
	</div>

	<div class="span4">
		<h2>感觉这里像广告位</h2>
		<p>想多了</p>
	</div>
</div>